body.home {
  align-items: center;
  color: blue;
  /* color: #384150; */
  display: flex;
  flex-direction: column;
  font-family: 'Oxygen', sans-serif;
  /* font-family: 'Overpass Mono', monospace; */
  /* font-family: 'Krub', sans-serif; */
  /* justify-content: center; */
  margin: 0;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* background-image: -webkit-linear-gradient(290deg, #dcb0ed 0%, #99c99c 100%);
  background-image: -o-linear-gradient(290deg, #dcb0ed 0%, #99c99c 100%);
  background-image: linear-gradient(20deg, #dcb0ed 0%, #99c99c 100%); */
  background: linear-gradient(290deg, #99c99c 0%, #dcb0ed 100%);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
  padding: 50px 100px 0px 100px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.flex-inner {
  /* padding: 100px; */
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.theme-toggle {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 100; */
  padding: 20px;
}

.site-cotent {
  display: flex;
  max-width: 700px;
  padding-top: 100px;
  /* padding: 100px 0 0 56px; */
  /* margin-left: 56px; */
  /* width: 100%; */
}

nav {
  padding-top: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

.link-group:last-child {
  margin-left: auto;
}

/* nav .link-group a:not(:last-of-type) {
    margin-right: 40px;
} */
nav .link-group a {
  margin-right: 40px;
}

.links {
  font-size: 16px;
  position: relative;
  top: 8px;
  color: #384150;
}

nav a:hover {
  color: #80858F;
  text-decoration: none;
}

article {
  margin-left: 56px;
  margin-right: 56px;
}

.intro {
  margin-top: 150px;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro h1 {
  color: #384150;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 36px;
  margin-bottom: 100px;
}

.home-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 56px;
  /* width: 400px; */
  /* justify-content:space-between; */
}

.home-row.content {
  display: block;
  width: 500px;
}

.row-items {
  position: relative;
  margin-bottom: 56px;
}

.lable h4 {
  font-size: 16px;
  color: #b3bbc9;
  font-family: 'Nanum Gothic Coding', monospace;
  letter-spacing: 1.5px;
  width: 200px;
}

.texts-1 {
  font-size: 16px;
  color: #384150;
}

a.texts {
  font-size: 16px;
  color: #384150;
  text-decoration: none;
  transition: all .5s ease-out;
  background-color: #f5f9f8;
}

a.texts:hover {
  text-decoration: none;
  background-color: #f0eafc;
}

.support-texts {
  color: #b3bbc9;
}

/* ----------------------------Dark Mode-------------------------------- */
body.darkMode {
  color: #000000;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Oxygen', sans-serif;
  /* font-family: 'Overpass Mono', monospace; */
  /* font-family: 'Krub', sans-serif; */
  justify-content: center;
  margin: 0;
}

.darkMode .flex {
  color: white;
  background-color: #2A2040;
  background-image: none;
}

.darkMode .flex-inner {
  box-shadow: none;
  background-color: #2A2040;
}

.darkMode .intro h1 {
  color: #e2e5eb;
}

.darkMode .texts-1 {
  color: #afa2ce;
}

.darkMode nav a {
  color: #e2e5eb;
}

.darkMode a.texts {
  /* color:#e2e5eb; */
  color: #B5B7BC;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 10%, hsla(0, 0%, 100%, .07) 0, hsla(0, 0%, 100%, .07));
}

.darkMode a.texts:hover {
  background-color: hsla(0, 0%, 100%, .07);
}

.darkMode .support-texts {
  color: #62627D;
}

.invisible {
  display: none;
}

/* --------------------------RESPONSIVE------------------------------ */
/* --------------------------breakpoint:960-------------------------- */
@media screen and (max-width: 960px) {
  .flex {
    padding: 0;
  }

  .flex-inner {
    padding: 50px 20px 20px 20px;
    box-shadow: none;
  }

  .intro {
    padding: 10px 0 0 0;
  }

  nav {
    padding-top: 50px;
  }
}

/*end of media  */
/*----------------------------------breakpoint:768-------------------------------  */
@media screen and (max-width: 768px) {
  .site-content {
    max-width: 600px;
    padding: 1.3333rem;
    margin: 0;
  }

  nav {
    padding-top: 10px;
  }

  nav a.links:last-child {
    margin-right: 0;
  }

  .flex-inner {
    padding: 0;
    box-shadow: none;
  }

  .home-row {
    flex-direction: column;
    padding: 0;
  }

  article {
    margin: 0;
  }

  .intro {
    padding: 50px 0 0 0;
    margin-bottom: 80px;
  }

  .row-items {
    margin-bottom: 56px;
  }
}

/*end of media  */
/*----------------------------------breakpoint:460-------------------------------  */
@media screen and (max-width: 460px) {
  nav {
    margin-top: 2.6666rem;
  }

  .intro {
    padding: 0;
  }
}

/*end of media  */
