/* -------------------     GENERAL STYLES     --------------------*/

body.home {
  font-family: 'Oxygen', sans-serif;
}

.flex {
  align-items: center;
  width: 100%;
  background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #99c99c 100%);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
  padding: 50px 100px 0px 100px;
}

/* ||  GRADIENT ANIMATION  */
@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50 }
	100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}
/* ------------------------------------------------------------------------ */

.flex-inner {
  background-color: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: relative; */
  /* justify-content: space-around; */
}

article {
  margin-left: 56px;
  margin-right: 56px;
}

/* ---------------------------    NAV     -------------------------------- */
.theme-toggle {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px 20px 20px;
}

nav {
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

ul#menu{
  list-style-type: none;
}

ul#menu:last-child {
  margin-left: auto;
}

ul#menu li {
  display: inline;
  margin-right: 40px;
}

a.links {
  font-size: 16px;
  position: relative;
  top: 8px;
  color: #384150;
}

nav a:hover {
  color: #80858F;
  text-decoration: none;
}

/* -----------------------------  CAROUSEL  ---------------------- */

.slider {
  margin-top: 10%;
  margin-bottom: 20%;
  justify-content: center;
  height: 50vh;
}

.slider h1 {
  color: #384150;
  font-size: 24px;
  line-height: 36px;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

a.conversation{
  color: #6B36E3;
  font-size: 16px;
  line-height: 36px;
  padding-bottom: 10vh;
  padding-left: 20%;
  padding-right: 20%;
  text-decoration: none;
}

a.conversation:hover{
  text-decoration: none;
  color: #9b8aba;
  transition: all .5s ease-out;
}

/* ------------------------      SECTION        ------------------------- */

section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 56px;
}

h4.lable {
  flex: 1;
  font-size: 16px;
  color: #b3bbc9;
  font-family: 'Nanum Gothic Coding', monospace;
  letter-spacing: 1.5px;
  width: 200px;
}

.content {
  flex: 4.5;
  display: block;
}

.proj-details {
  margin-bottom: 56px;
}

#current-p {
  font-size: 16px;
  color: #384150;
}

a.texts {
  font-size: 16px;
  color: #384150;
  text-decoration: none;
  transition: all .5s ease-out;
  background-color: #f5f9f8;
}

a.texts:hover {
  text-decoration: none;
  background-color: #f0eafc;
}

.support-texts {
  color: #b3bbc9;
}

a.link-logo {
  font-size: 16px;
  color: #b3bbc9;
  text-decoration: none;
  transition: all .5s ease-out;
}

a.link-logo:hover {
  text-decoration: none;
  color: #384150;
}

/* ----------------------------      DARK MODE       -------------------------------- */
.darkMode .flex {
  color: white;
  background-color: #2A2040;
  background-image: none;
}

.darkMode .flex-inner {
  box-shadow: none;
  background-color: #2A2040;
}

.darkMode .slider h1, .darkMode a.links{
  color: #e2e5eb;
}

.darkMode .conversation, .darkMode #current-p{
  color: #afa2ce;
}

.darkMode a.texts {
  color: #B5B7BC;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 10%, hsla(0, 0%, 100%, .07) 0, hsla(0, 0%, 100%, .07));
}

.darkMode a.texts:hover {
  background-color: hsla(0, 0%, 100%, .07);
}

.darkMode .support-texts {
  color: #62627D;
}

.invisible {
  display: none;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-image: none;
}

/* --------------------------          RESPONSIVE           ------------------------------ */

/* --------------------------        breakpoint:960          -------------------------- */
@media screen and (max-width: 960px) {
  .flex {
    padding: 0;
    background-image: none;
  }

  .flex-inner {
    padding: 20px;
    box-shadow: none;
  }

  nav {
    padding-top: 0px;
    margin-top: 0px;
  }

  .slider h1 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
  }

  a.conversation{
    padding-left: 10%;
    padding-right: 10%;
  }
}

/*----------------------------------       breakpoint:850      -------------------------------  */

@media screen and (max-width: 850px) {
  .flex-inner {
    max-width: 600px;
    padding: 1.3333rem;
    margin: auto;
    width: 100%;
  }

  nav a.links:last-child {
    margin-right: 0;
  }

 section {
    flex-direction: column;
    padding: 0;
  }

  article {
    margin: 0;
  }

  .slider{
    padding: 0;
    margin-top: 35%;
    margin-bottom: 35%;
  }

  .slider h1{
    padding-left: 0;
    padding-right: 0;
    padding-top: 20%;
  }

  .proj-details {
    margin-bottom: 56px;
  }

  a.conversation{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20%;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
  }
  
  .carousel-control-prev{
    display: none;
  }
}

/*----------------------------------      breakpoint:460          ------------------------------  */
@media screen and (max-width: 460px) {
  
  .flex-inner{
    padding: 0 1.3333rem;
  }

  nav {
    margin-top: 0;
  }

  .theme-toggle{
    padding: 10px;
  }

  .slider{
    margin-top: 20%;
    height: 80vh;
  }  
}

/* ---------------------------------------------------------------------------------- */